{% ckan_extends %}

{% block secondary_content %}

  {{ super() }}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">SPARQL Subscriptions</h2>
    {% if c.subscriptions.sparql|length > 0 %}
    <ul class="nav nav-simple">
      {% for subscription in c.subscriptions.sparql %}
        <li class="nav-item">
           {{ h.nav_link(_(subscription.name) + ' updates: ' + _(subscription.updates_count), controller='subscription', action='show', subscription_name=subscription.name) }}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <div class="module-content">
        <p class="empty">No SPARQL subscriptions here. What about {{ h.nav_link(_('creating'), controller='ckanext.semantic.controllers.sparql:SPARQLController', action='index') }} one?</p>
      </div>
    {% endif %}
  </section>
{% endblock %}

