{% extends "page.html" %}

{% set user = c.user_dict %}

{% block subtitle %}{{ _('Recommendations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Users'), controller='user', action='index' %}</li>
  <li class="active"><a href="">{{ _('Recommendations') }}</a></li>
{% endblock %}

{% block actions_content %}
  <li>{% link_for _('Add new dataset'), controller='package', action='new', class_="btn btn-primary icon-large", icon="plus" %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h2 class="page-heading">{{ _('Recommendations') }} <small>{{ c.content_heading }}</small></h2>
          {% snippet 'snippets/package_list.html', packages=user.recommended_datasets %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <section class="module module-shallow module-narrow module-my-datasets">
    <h2 class="module-heading"><i class="icon-"></i> {{ _('Recommendation Types') }}</h2>
      <nav>
        <ul class="unstyled nav nav-simple">
            <li>{% link_for _('Top 3'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read' %}</li>
            <li>{% link_for _('Topics you like'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', similarity_method='topic' %}</li>
            <li>{% link_for _('Interesting regions'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', similarity_method='location' %}</li>
            <li>{% link_for _('The times you prefer'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', similarity_method='time' %}</li>
        </ul>
      </nav>
  </section>
{% endblock %}
