{% extends "page.html" %}

{% set user = c.user_dict %}
{% set recommendation = c.recommendation %}

{% block subtitle %}{{ _('Recommendations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Users'), controller='user', action='index' %}</li>
  <li class="active"><a href="">{{ _('Recommendations') }}</a></li>
{% endblock %}

{% block actions_content %}
  <li>{% link_for _('Add new dataset'), controller='package', action='new', class_="btn btn-primary icon-large", icon="plus" %}</li>
{% endblock %}

{% block primary_content %}
  {% for recommendation_type in recommendation.keys() %}
    <article class="module">
      <div class="module-content">
        <h2 class="page-heading">
          {% if recommendation_type == 'topic' %}
              {% link_for _('Datasets that match your interests topic-wise'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='topic' %}
          {% endif %}
          {% if recommendation_type == 'location' %}
              {% link_for _('Datasets that are from a location you might be interested in'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='location' %}
          {% endif %}
          {% if recommendation_type == 'time' %}
              {% link_for _('Datasets that are from a time you could be interested in'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='time' %}
          {% endif %}
        </h2>
        {% snippet 'snippets/recommended_dataset_list.html', datasets=recommendation[recommendation_type], recommendation_type=recommendation_type %}
      </div>
    </article>
  {% endfor %}
{% endblock %}

{% block secondary_content %}
  <section class="module module-shallow module-narrow module-my-datasets">
    <h2 class="module-heading"><i class="icon-"></i> {{ _('Recommendation Types') }}</h2>
      <nav>
        <ul class="unstyled nav nav-simple">
            <li>{% link_for _('Top Mix'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read' %}</li>
            <li>{% link_for _('Topics you like'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='topic' %}</li>
            <li>{% link_for _('Interesting regions'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='location' %}</li>
            <li>{% link_for _('The times you prefer'), controller='ckanext.lodstatsext.controllers.recommendation:RecommendationController', action='read', type_='time' %}</li>
        </ul>
      </nav>
  </section>
{% endblock %}
