{% extends "page.html" %}

{% set user = c.user_dict %}

{% block subtitle %}{{ _('Recommendations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Users'), controller='user', action='index' %}</li>
  <li class="active"><a href="">{{ _('Recommendations') }}</a></li>
{% endblock %}

{% block actions_content %}
  <li>{% link_for _('Add new dataset'), controller='package', action='new', class_="btn btn-primary icon-large", icon="plus" %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h2 class="page-heading">{{ _('Recommendation') }} <small>{{ c.content_heading }}</small></h2>
          {% snippet 'snippets/package_list.html', packages=user.recommended_datasets.keys() %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <section class="module module-shallow module-narrow module-my-datasets">
    <h2 class="module-heading"><i class="icon-"></i> {{ _('Different Recommendations') }}</h2>
      <nav>
        <ul class="unstyled nav nav-simple">
        </ul>
      </nav>
  </section>
{% endblock %}
