input.endpoint
{
    top:0;
}

input.endpoint + input.endpoint
{
    margin-left: 30px;
}

.sparql_result_head
{
    padding-left: 5px;
    padding-right: 5px;
}

.sparql-result
{
    padding-left: 5px;
    padding-right: 25px;
}

.sparql-result.object,
.sparql-result.object.seen
{
    background: #FFFFFF;
}

.sparql-result.object.added
{
    background: #CAFFC4;
}

.sparql-result.object.removed
{
    background: #CCCCCC;
}


.sparql-result,
.sparql-result.seen
{
    background: #F5F5F5;
}

.sparql-result.added
{
    background: #BAEFB4;
}

.sparql-result.removed
{
    background: #BCBCBC;
}


.sparql-result.number
{
    text-align: right;
    padding-left: 25px;
    padding-right: 5px;
}


.ui-autocomplete-category {
    color: gray;
    border-bottom: none;
    clear: both;
    border-top: 1px solid grey;
    text-align:right;
}

.ui-autocomplete {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
