input.endpoint
{
    top:0;
}

input.endpoint + input.endpoint
{
    margin-left: 30px;
}

th.sparql-results-head,
tr.sparql-result td
{
    border: solid 1px #000;
}

th.sparql-results-head th.flag,
tr.sparql-result td.flag
{
    border: solid 0px #000;
}

tr.sparql-results-head
{
    padding-left: 5px;
    padding-right: 5px;
}

tr.sparql-result
{
    padding-left: 5px;
    padding-right: 25px;
}

.flag,
.sparql-result .object,
.sparql-result.seen .object
{
    background: #FFFFFF;
}

.sparql-result.added .object
{
    background: #CAFFC4;
}

.sparql-result.removed .object
{
    background: #CCCCCC;
}


.sparql-result,
.sparql-result.seen
{
    background: #F5F5F5;
}

.sparql-result.added
{
    background: #BAEFB4;
}

.sparql-result.removed
{
    background: #BCBCBC;
}


.sparql-result .number
{
    text-align: right;
    padding-left: 25px;
    padding-right: 5px;
}


.ui-autocomplete-category {
    color: gray;
    border-bottom: none;
    clear: both;
    border-top: 1px solid grey;
    text-align:right;
}

.ui-autocomplete {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

div.backgroundcolor:first-child
{
    border-left: solid 1px #EEE;
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #EEE;
    border-top: solid 1px #EEE;
}

div.backgroundcolor + div.backgroundcolor
{
    border-left: solid 1px #EEE;
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #EEE;
}
