.ui-autocomplete-category {
    color: gray;
    border-bottom: none;
    clear: both;
    border-top: 1px solid grey;
    text-align:right;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
