{% ckan_extends %}

{% block secondary_content %}

  {{ super() }}

  <section class="module module-narrow">
    <h2 class="module-heading">
      <i class="icon-copy"></i>
      Topics
    </h2>
    <div class="module-content">
        <input type="text" class="input" style="float:left" placeholder="http://purl.org/ontology/bibo/" />
        <input type="hidden" class="input_uri" />



        <button class="add" style="height:28px">Add</button>
        <div id="list" style="clear:both">
            <py:if test="c.subscription.definition.has_key('topics')">
            <div py:for="topic in c.subscription.definition['topics']" class="topic">
                <button class="delete" style="float:left;height:34px">X</button>
                <pre class="name" style="width:300px; margin-left:30px">${topic}</pre>
            </div>
            </py:if>
            <div style="display:none" class="topic_template">
                <button class="delete" style="float:left;height:34px">X</button>
                <pre class="name" style="width:300px; margin-left:30px">http://purl.org/ontology/bibo/</pre>
            </div>
        </div>
    </div>
  </section>
{% endblock %}

