{% ckan_extends %}

{% block secondary_content %}

  {{ super() }}

  {% if pkg.similar.topic %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-copy"></i> Similar Topics</h2>
    <ul class="nav nav-simple">
      {% for similar in pkg.similar.topic %}
        <li class="nav-item">
          {% link_for _( similar.title ), controller='package', action='read', id=similar.name %}
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  
  {% if pkg.similar.location %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-copy"></i> Similar Region</h2>
    <ul class="nav nav-simple">
      {% for similar in pkg.similar.location %}
        <li class="nav-item">
          {% link_for _( similar.title ), controller='package', action='read', id=similar.name %}
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  
  {% if pkg.similar.time %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-copy"></i> Similar Time</h2>
    <ul class="nav nav-simple">
      {% for similar in pkg.similar.time %}
        <li class="nav-item">
          {% link_for _( similar.title ), controller='package', action='read', id=similar.name %}
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
{% endblock %}



{% block package_additional_info %}
  {{ super() }}
  
  {% if pkg.topic %}
  <section class="module-content additional-info">
    <h3>Vocabularies</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>{{ _('URI') }}</th>
        </tr>
      </thead>
      <tbody>
      {% for vocabulary in pkg.topic.vocabularies %}
        <tr>
          <td class="dataset-details" property="foaf:homepage">{{ h.link_to(vocabulary) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}
  
  {% if pkg.location %}
  <section class="module-content additional-info">
    <h3>Location</h3>
    <div id="map" latitude="{{ pkg.location.latitude }}" longitude="{{ pkg.location.longitude }}" radius="{{ pkg.location.radius }}"  style="height: 400px"></div>
  </section>
  {% endif %}
    
  {% if pkg.time %}
  <section class="module-content additional-info">
    <h3>Time</h3>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>From</th>
          <td>{{ pkg.time.min_time }}</td>
        </tr>
        <tr>
          <th>Until</th>
          <td>{{ pkg.time.max_time }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  {% endif %}
  
{% endblock %}


{% block styles %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/leaflet/dist/leaflet.css' %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/leaflet/dist/leaflet.js' %}
  {% resource 'ckanext-semantic/javascript/package/semantic.js' %}
{% endblock %}

