{% ckan_extends %}

{% block secondary_content %}

  {{ super() }}

  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-filter"></i> Topic (RDF only)</h2>
    <div class="module-content">
      <form method="get">
        <p>Here you can filter by the topic of the dataset in terms of vocabularies, classes and properties.</p>
        <input id="topic_input" autocomplete="off" type="text" class="input" name="topic" style="height:14px; width:115px" placeholder="http://purl.org/ontology/bibo/" />
        {{ form.hidden_list(fields=c.fields) }}
        <button type="submit" class="btn" style="height:34px; margin-top:-10px">Add</button>
      </form>
    </div>
        
    {% for name, value in c.fields %}
      {% if name in ['topic'] %}
        <form method="get" style="margin:0">
          <button type="submit" style="background:white; border-left: 0; border-right: 0; border-top: 1px dotted; border-bottom: 0; height:27px; text-align:left; width:220px; padding-left:15px" >{{ value }}&nbsp; &nbsp; X</button>
          {{ form.hidden_list(fields=c.fields, except=[(name, value)]) }}
        </form>
      {% endif %}
    {% endfor %}
  </section>

  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-filter"></i> Location (RDF only)</h2>
    <div id="map" style="height:280px"></div>
    <div class="module-content">
      <form name="location" method="get">
        <p>Here you can filter by the region of the dataset.</p>
        Latitude (degrees) <input type="text" class="input" name="location_latitude" style="height:14px; width:165px" value="{{ c.fields_grouped.location_latitude[0] if c.fields_grouped.location_latitude }}" placeholder="40.417" />
        Longitude (degrees) <input type="text" class="input" name="location_longitude" style="height:14px; width:165px" value="{{ c.fields_grouped.location_longitude[0] if c.fields_grouped.location_longitude }}" placeholder="-3.703" />
        Radius (Kms) <input type="text" class="input" name="location_radius" style="height:14px; width:165px" value="{{ c.fields_grouped.location_radius[0] if c.fields_grouped.location_radius }}" placeholder="50" />

        {{ form.hidden_list(fields=c.fields, except_names=['location_latitude', 'location_longitude', 'location_radius']) }}
        {% if c.fields_grouped.location_latitude %}
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Update</button>
        {% else %}
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Apply</button>
        {% endif %}

      </form>
      {% if c.fields_grouped.location_latitude %}
        <form method="get">
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Remove</button>
          {{ form.hidden_list(fields=c.fields, except_names=['location_latitude', 'location_longitude', 'location_radius']) }}
        </form>
      {% endif %}
    </div>

  </section>
  
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-medium icon-filter"></i> Time (RDF only)</h2>
    <div class="module-content">
      <form name="time" method="get">
        <p>Here you can filter by the time the dataset is about.</p>
        From (ISO format) <input type="text" class="input" name="time_min" style="height:14px; width:165px" value="{{ c.fields_grouped.get('time_min', [''])[0] }}" placeholder="1980-01-23" />
        Until (ISO format) <input type="text" class="input" name="time_max" style="height:14px; width:165px" value="{{ c.fields_grouped.get('time_max', [''])[0] }}" placeholder="2001-04" />

        {{ form.hidden_list(fields=c.fields, except_names=['time_min', 'time_max']) }}
        {% if c.fields_grouped.time_min or c.fields_grouped.time_max %}
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Update</button>
        {% else %}
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Apply</button>
        {% endif %}

      </form>
      {% if c.fields_grouped.time_min or c.fields_grouped.time_max %}
        <form method="get">
          <button type="submit" class="btn" style="height:34px; margin-top:-10px">Remove</button>
          {{ form.hidden_list(fields=c.fields, except_names=['time_min', 'time_max']) }}
        </form>
      {% endif %}
    </div>
  </section>
  
{% endblock %}

{% block styles %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/jqueryui/css/uilightness/jqueryui.css' %}
  {% resource 'ckanext-semantic/vendor/leaflet/dist/leaflet.css' %}
  {% resource 'ckanext-semantic/css/search/semantic.css' %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/jqueryui/js/jqueryui.js' %}
  {% resource 'ckanext-semantic/vendor/leaflet/dist/leaflet.js' %}
  {% resource 'ckanext-semantic/javascript/search/semantic.js' %}
{% endblock %}

