{% extends "page.html" %}

{% block subtitle %}{{ _('SPARQL for a dataset and more') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('SPARQL'), controller='ckanext.semantic.controllers.sparql:SPARQLController', action='index') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <form id="dataset-search" class="dataset-search clearfix" method="get" data-module="select-switch">
         <textarea id="sparql-textarea" name="query">{{ c.query }}</textarea>

        <span class="control-group search-giant">
          <button style="margin:0; padding: 0; left: 600px; top: 25px; border:1px solid" type="submit" value="{{ _('Search') }}">Submit</button>
        </span>

      </form>
      <div class="results">
        <strong>

        </strong>

      </div>

      {% if c.query_error %}
        {% trans %}
          <p><strong>There was an error while searching.</strong> Please try again.</p>

        {% endtrans %}
          <p>{{ c.query_error }}</p>
      {% endif %}
      
        {% if c.results %}
        <table border=1>
          <thead>
            <tr>
              {% for header_name in c.results.head.vars %}
                <th>{{ header_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>

          {% for result in c.results.results.bindings %}
            <tr>
            {% for header_name in c.results.head.vars %}
              <td class="sparql-result status-{{ result.__status__ }}">
                {% if result[header_name].object %}
                  {{ h.link_to(result[header_name].object.title, result[header_name].value) }}
                {% else %}
                  {{ result[header_name].value }}
                {% endif %}
              </td>
            {% endfor %}
            </tr>
          {% endfor %}

          </tbody>
      </table>
      {% endif %}
    </div>

  </section>

{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-caret-left"></i> {{ h.nav_link(_('Subscriptions'), controller='subscription', action='index') }}</h2>
    <div class="module-content">
      {% if c.subscription %}
        <form name="delete_subscription_form" method="post" onsubmit="return set_return_url();" action="{{ h.url_for(controller='subscription', action='delete', subscription_name=c.subscription.name) }}">
          <p><b>Name</b>: {{ c.subscription.name }}</p>
          <input type="hidden" name="return_url" value="" class="return_url" />
          <input type="submit" class="btn" value="Unsubscribe" />
        </form>

        <p>
            The background colors of the rows have different meaning.
            <br />
            <b class="sparql-result status-added">New Row</b>
            <br />
            <b class="sparql-result status-changed">Changed Row</b>
            <br />
            <b class="sparql-result status-removed">Removed Row</b>
        </p>
      {% else %}
        <form name="create_subscription_form" method="post" onsubmit="return validate_subscription_name();" action="{{ h.url_for(controller='subscription', action='create') }}">
          <p>
            Be <b>informed</b> in case <b>new</b> results match the SPARQL query and
            results <b>change</b>.
          </p>
          
          {% if c.subscriptable %}
            <input type="text" name="subscription_name" placeholder="Name of this query" style="height:14px; width:160px" />
            <input type="hidden" name="subscription_type" value="sparql" />
            <input type="hidden" name="subscription_data_type" value="dataset" />
            <input type="hidden" name="query" value="{{ c.query }}" />
            <input type="submit" class="btn" value="Subscribe" />
          {% endif %}
        </form>          
      {% endif %}
    </div>
  </section>
  
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-question-sign"></i> Vocabulary Suggestions</h2>
    <div class="module-content">
       <input id="vocabulary_suggestions" autocomplete="off" type="text" class="input" name="topic" style="height:14px; width:165px" placeholder="http://purl.org/ontology/bibo/" />
    </div>
  </section>
  
{% endblock %}


{% block styles %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/codemirror/lib/codemirror.css' %}
  {% resource 'ckanext-semantic/css/sparql/codemirror.css' %}
  {% resource 'ckanext-semantic/css/sparql/sparql.css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  {% resource 'ckanext-semantic/vendor/codemirror/lib/codemirror.js' %}
  {% resource 'ckanext-semantic/vendor/codemirror/mode/sparql/sparql.js' %}
  {% resource 'ckanext-semantic/javascript/sparql/sparql.js' %}
{% endblock %}

