{#
Contructs input type=hidden elements for each param passed

name_value_pairs
  "name1=value1&name2=value2&..."

except_name
except_value

#}

{% for name_value_pair in name_value_pairs.split('&') %}
  {% set name_value = name_value_pair.split('=') %}
  {% set name = name_value[0] %}
  {% set value = h.unquote(name_value[1]) %}
  
  {% if not (name == except_name and value == except_value) and value %}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
  {% endif %}
{% endfor %}
